 Q.1 Discuss string slicing and provide examples.

 Ans.String slicing is a feature that allows you to access and manipulate specific parts of a string. It’s like having a precise knife to cut out any part of a string you need. For more advanced methods and in-depth understanding, continue reading the article.string slicing is a technique to extract certain parts of a string. It’s a feature that allows you to get a substring from a string, from the start index to the end index.

 **Syntax and Methods for String Slicing**

Python offers two primary methods for string slicing: the slice() function and array slicing. The syntax for both is simple and intuitive, contributing to Python’s popularity among developers.

Both methods use square brackets []. Inside these brackets, you specify the start and end indices of the slice. The start index is included, while the end index is excluded.
Example:-

In [ ]:
#Exapmle 1.
S = 'DICTIONARY'

print(S[2:7])

CTION

In [ ]:
#Eaxmple 2.
'''Slicing with Negative Indices

When slicing a string, you can also specify negative indices'''
S = 'DICTIONARY'

print(S[-7:-2])

TIONA

In [ ]:
#Example 3.
''' Slicing strings in Python with Positive & Negative Indices

It is possible to define both positive and negative indices simultaneously.'''
S = 'ABCDELGHK'

print(S[2:-5])

CD

In [ ]:
#Example 4.
'''Specify Step for the slice- Using the step parameter, you can define the slicing step. The optional step parameter has a default value of 1. '''
# Return every second item between positions 2 to 7
S = 'AMCDEKGHK'

print(S[2:7:2])

CEG

In [ ]:
#Example 5.
'''Reversing a String- You can reverse a string by leaving off the start and stop indices and entering a step of -1. '''
S = 'MONDAY'

print(S[::-1])

YADNOM

Q.2 Explain the key features of lists in Python.

Ans. In short, a list is a collection of arbitrary objects, somewhat akin to an array in many other programming languages but more flexible. Lists are defined in Python by enclosing a comma-separated sequence of objects in square brackets ([]), as shown below:

In [ ]:
a = ['foo', 'bar', 'baz', 'qux']

print(a)

['foo', 'bar', 'baz', 'qux']

The important characteristics of Python lists are as follows:

1.Lists are ordered.

2.Lists can contain any arbitrary objects.

3.List elements can be accessed by index.

4.Lists can be nested to arbitrary depth.

5.Lists are mutable.

6.Lists are dynamic.


**1.Lists are ordered:-**

A list is not merely a collection of objects. It is an ordered collection of objects. The order in which you specify the elements when you define a list is an innate characteristic of that list and is maintained for that list’s lifetime.

In [ ]:
a = ['foo', 'bar', 'baz', 'qux']
b = ['baz', 'qux', 'bar', 'foo']
a == b
a is b
[1, 2, 3, 4] == [4, 1, 3, 2]

False

**2.Lists Can Contain Arbitrary Objects:-**

A list can contain any assortment of objects. The elements of a list can all be the same type

In [ ]:
a = [2, 4, 6, 8]
a

[2, 4, 6, 8]

**3.List Elements Can Be Accessed by Index:-**

Individual elements in a list can be accessed using an index in square brackets. This is exactly analogous to accessing individual characters in a string. List indexing is zero-based as it is with strings.

In [ ]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
a[0]

'foo'

 **4.Lists can be nested to arbitrary depth:-**

 You have seen that an element in a list can be any sort of object. That includes another list. A list can contain sublists, which in turn can contain sublists themselves, and so on to arbitrary depth.

In [ ]:
x = ['a', ['bb', ['ccc', 'ddd'], 'ee', 'ff'], 'g', ['hh', 'ii'], 'j']
x

['a', ['bb', ['ccc', 'ddd'], 'ee', 'ff'], 'g', ['hh', 'ii'], 'j']

**5.Lists Are Mutable:**-

Most of the data types you have encountered so far have been atomic types. Integer or float objects, for example, are primitive units that can’t be further broken down. These types are immutable, meaning that they can’t be changed once they have been assigned. It doesn’t make much sense to think of changing the value of an integer. If you want a different integer, you just assign a different one.

In [ ]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
a

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [ ]:
a[2] = 10
a[-1] = 20
a

['foo', 'bar', 10, 'qux', 'quux', 20]

**6.Lists are dynamic:-**

This tutorial began with a list of six defining characteristics of Python lists. The last one is that lists are dynamic. You have seen many examples of this in the sections above. When items are added to a list, it grows as needed

In [ ]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

a[2:2] = [1, 2, 3]
a += [3.14159]
a

['foo', 'bar', 1, 2, 3, 'baz', 'qux', 'quux', 'corge', 3.14159]

Q.3 Describe how to access, modify, and delete elements in a list with examples.

Ans.**Accessing Elements From A List:-**

There are various ways through which we can access the items present inside the list in Python.


**1.Indexing:-**

With the help of the index, we can access the elements of the list. Index starts from 0 and the index should always be an Integer. If we use an index other than integer like float, then it will result in TypeError.

In [71]:
#Example:
colors= ['red','blue','green','yellow','black'] # create list
colors

['red', 'blue', 'green', 'yellow', 'black']

In [72]:
len(colors) # get list length

5

In [73]:
colors[0]

'red'

In [74]:
colors[2]

'green'

**Negative Indexing:-**

We can access data using a negative index as well. A negative index will always start from -1 and -1 refers to the last element and -2 refers to the last second item and so on.

In [75]:
#Example:-
colors= ['red','blue','green','yellow','black']
colors

['red', 'blue', 'green', 'yellow', 'black']

In [76]:
len(colors)

5

In [77]:
colors[-1]

'black'

In [78]:
colors[-4]

'blue'

**Slicing the List:-**

Using the slice operator (:) we can access a range of elements from the list

In [79]:
colors= ['red','blue','green','yellow','black']
colors

['red', 'blue', 'green', 'yellow', 'black']

In [80]:
len(colors)

5

In [81]:
colors[1:5]

['blue', 'green', 'yellow', 'black']

In [85]:
colors[2:4]

['green', 'yellow']

**Loop:-**

We can also access the elements present inside the list using for loop

```
# This is formatted as code
```

In [101]:
#print colors in a colors list
colors= ['red','blue','green','yellow','black']
for x in colors:
  print(x)

red
blue
green
yellow
black

In [102]:
def count_letters(l):
    count = {}  # define a dict to hold our count
    for i in l: # loop through the list
        count[i] = len(i)  # for each item, compute its length and store it in the dict
    return count # return the count

if __name__ == '__main__':
    colors = ['red', 'blue', 'green', 'yellow', 'black']
    print(count_letters(colors))

{'red': 3, 'blue': 4, 'green': 5, 'yellow': 6, 'black': 5}

** Deleting Elements From A List:-**
As we can add as many items to a list, they can also be removed from a list. The three ways by which items can be removed are:

**Using the del statement**

**del target_list**

The target list(target_list) can be the entire list(in case you want to delete the list) or an item or items in a list(in this case you use indexing or slicing).

In [104]:
#Example
#Say, we want to delete some items from the colors list created above.
colors

['red', 'blue', 'green', 'yellow', 'black']

In [105]:
c_copy = colors[:] # make a shallow copy to work on
del c_copy[0]  # delete item at index 0
c_copy

['blue', 'green', 'yellow', 'black']

In [107]:
del c_copy[0:2]  # delete items at index 0 and 1(slicing)
c_copy

['yellow', 'black']

In [108]:
del c_copy[:]  # delete all items in a list. Same as ‘c_copy.clear()’
[]
del c_copy  # delete the list object

In [109]:
c_copy      # access object that doesn't exist
#Note: The del statement deletes in place i.e., it will modify the original list object rather than returning a new list object.

NameError: name 'c_copy' is not defined

**Using the list.remove(x)**

It removes the first item from the list whose value is equal to x. It raises a ValueError if there is no such item.

This method is used mostly to remove items from a list by name, unlike the del statement that uses indexing and slicing.

In [110]:
colors

['red', 'blue', 'green', 'yellow', 'black']

In [111]:
c_copy = colors[:]  # create shallow copy to work on
c_copy

['red', 'blue', 'green', 'yellow', 'black']

In [112]:
c_copy.remove('blue')  # remove first item with name 'blue'
c_copy

['red', 'green', 'yellow', 'black']

In [113]:
 c_copy.remove('blue')  # try to remove item that doesn't exist
 c_copy
 #Note.The list object remove() method deletes in place i.e., it will modify the original list object rather than returning a new list object.

ValueError: list.remove(x): x not in list

**Using list.pop([i]):-**

It removes and returns the item at the given position in a list object. If no i(index) is provided, it removes and returns the last item in the list.

Note: The square bracket around i above doesn’t mean a list of i, rather it means i is optional.

In [114]:
colors

['red', 'blue', 'green', 'yellow', 'black']

In [115]:
c_copy = colors[:]  # make a shallow copy to work on
c_copy

['red', 'blue', 'green', 'yellow', 'black']

In [116]:
c_copy.pop(3)    # pop out the item at index 3

'yellow'

In [117]:
c_copy

['red', 'blue', 'green', 'black']

In [119]:
 c_copy.pop()     # pop out the last item in the list

'green'

In [121]:
c_copy

['red', 'blue']

In [ ]:
#Note: The list.pop([i]) method deletes in place i.e., it will modify the original list object rather than returning a new list object. Also, it returns the item removed from the list

**Modifying Elemens From A List**

Replacing items is pretty simple. In one of the above sections, we saw indexing and slicing. These can be used to access and remove items from a list.

**1.Replace using indexing**

**L[index] = value**

In [122]:
colors

['red', 'blue', 'green', 'yellow', 'black']

In [123]:
c_copy = colors[:]   # make a shallow copy to work on
c_copy

['red', 'blue', 'green', 'yellow', 'black']

In [124]:
c_copy[0] = 'brown'   # modify item at index 0 with 'brown'
c_copy

['brown', 'blue', 'green', 'yellow', 'black']

**2.Modifying using slicing:-**

**L[n:m] = value**

Note: Value should be an iterable, or else the TypeError exception will be raised.

In [125]:
colors

['red', 'blue', 'green', 'yellow', 'black']

In [126]:
c_copy = colors[:]  # make a shallow copy to work on

In [127]:
c_copy[0:2] = ['brown']  # replace items at index 0 and 1 with 'brown'
c_copy

['brown', 'green', 'yellow', 'black']

In [129]:
c_copy[1:3] = ['white','purple'] # replace items at index 1 and 2 with 'white' and 'purple'
c_copy

['brown', 'white', 'purple', 'black']

In [130]:
c_copy[1:4] = ['white','purple']#replace items at index 1,2 and 3 with 'white' and 'purple'. Here we replace 3 items with 2 items
c_copy

['brown', 'white', 'purple']

Q.4 Compare and contrast tuples and lists with examples.

Ans.**List**

1.Lists are mutable.

2.The implication of iterations is Time-consuming.

3.The list is better for performing operations, such as insertion and deletion.

4.Lists consume more memory.

5.Lists have several built-in methods.

6.Unexpected changes and errors are more likely to occur.

In [131]:
#Example
# Creating a List with
# the use of Numbers
# code to test that tuples are mutable
List = [1, 2, 4, 4, 3, 3, 3, 6, 5]
print("Original list ", List)

Original list  [1, 2, 4, 4, 3, 3, 3, 6, 5]

In [134]:
List[3]=77
print("Example to show mutability ", List)

Example to show mutability  [1, 2, 4, 77, 3, 3, 3, 6, 5]

`**TUPLE**

1.Tuples are immutable.

2.The implication of iterations is comparatively Faster.

3.A Tuple data type is appropriate for accessing the elements.

4.Tuple consumes less memory as compared to the list.

5.Tuple does not have many built-in methods.

6.Because tuples don’t change they are far less error-prone.

In [135]:
#Example
# code to test that tuples are immutable

tuple1 = (0, 1, 2, 3)
tuple1[0] = 4
print(tuple1)

TypeError: 'tuple' object does not support item assignment

In [136]:
#If you need to chaneg the tuple, you need to create a new one
new_tuple1 = (4,) + tuple1[1:]# Create a new tuple with the modified element
print(new_tuple1)

(4, 1, 2, 3)

Q.5 Describe the key features of sets and provide examples of their use.

Ans.Set is a data type in python used to store several items in a single variable. It is one of the four built-in data types (List, Dictionary, Tuple, and Set) having qualities and usage different from the other three. It is a collection that is written with curly brackets and is both unindexed and unordered.

A set is mutable, i.e., we can remove or add elements to it. Set in python is similar to mathematical sets, and operations like intersection, union, symmetric difference, and more can be applied.

 Sets in Python are a valuable data structure with several key features:-

 1.**Unordered:-**

 A set doesn't maintain any particular order of elements. That means the order in which you insert the elements into a set might not be the same as you would get while iterating through the set.

In [1]:
#Example
my_set = {1,2,3,4,5}
print(my_set)

{1, 2, 3, 4, 5}

2.**Unique Elements:-**

Sets are known to only store unique elements. That is, if you try to put a duplicate element, it will be ignored.

In [2]:
my_set ={1,1,2,2,3,3,4,4,}
print(my_set)

{1, 2, 3, 4}

3**.Mutable:-**

 You are allowed to add or remove elements of a set even after it's created.

In [8]:
my_set= {1,2,4}
my_set.add(3)
print(my_set)

{1, 2, 3, 4}

In [9]:
my_set.remove(2)
print(my_set)

{1, 3, 4}

4.**Immutable Elements:-**

 Although sets themselves are mutable, the elements of a set should be immutable. For example, numbers, strings, tuples. You can't have lists or dictionaries as elements of a set.

In [10]:
my_set = {1, "hello", (1, 2)}  # Valid
#my_set = {[1, 2], 3}  # Invalid, list is mutable

In [11]:
print(my_set)

{1, (1, 2), 'hello'}

5.**Set Operations:-**

 Sets support several mathematical set operations. These include union, intersection, difference and symmetric difference.

In [12]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}

In [15]:
union = set1.union(set2)
print(set1.union(set2))

{1, 2, 3, 4}

In [16]:
intersection = set1.intersection(set2)
print(set1.intersection(set2))

{2, 3}

In [17]:
difference = set1.difference(set2)
print(set1.difference(set2))

{1}

In [18]:
symmetric_difference = set1.symmetric_difference(set2)
print(set1.symmetric_difference(set2))

{1, 4}

**Example Use Case:**

Suppose that you are having a list of names from which you want to get the unique names. You can do this easily using sets.

In [20]:
names=["Aditya","Alia","Ram","Radhe","Aditya","Ram"]
unique_names = set(names)
print(unique_names)

{'Aditya', 'Radhe', 'Alia', 'Ram'}

Q.6 Discuss the use cases of tuples and sets in Python programming.

Ans.Tuples and sets are two of the basic data structures in Python. Both of them have their own purposes.

 **Tuples:-**

 **Immutable Data:-**

 Tuples are ordered series of elements; just as lists, but the major difference is that they are immutable. That means once a tuple is created, one can't modify the contents thereof.

**Data Integrity:-**
  
  The immutability of tuples makes them apt for storing data that shouldn't be changed, like coordinates, database records, or configuration settings.

 **Faster Than Lists:-**

Due to their immutability, tuples are generally more efficient in terms of memory and performance compared with lists.

**Dictionary Keys:-**

Because keys need to be hashable, tuples can be used for dictionary keys, unlike lists.

**Function Return Values:-**

Tuples are used for function return values where there are multiple values to be returned. This is very useful where a function has more than one output.

1.Returning multiple values from a function

2.Creating dictionary keys

3.Protecting data from accidental modification


**Sets:-**

**Distinct Elements:-**

Sets are collections of distinct elements. Sets are unordered collections of distinct elements − They automatically eliminate duplicate values.

**Membership Testing:-**

They are optimized for checking whether an element is a member of a set. They support fast membership tests using the in operator.

**Set Operations:-**

They also support mathematical set operations like union, intersection, difference and symmetric difference.

**Common use cases:-**

1.Removing duplicates from a list

2.Checking efficiently for membership (e.g., is a user in a list of allowed users?)

3.Set operations to find common or unique elements between collections

4.creating efficient data structures for tasks involving membership testing.

Q.7 Describe how to add, modify, and delete items in a dictionary with examples.

Ans.Items can be varied in the dictionary through the definition of keys and values and use of the methods such as del, pop, and popitem. He goes on the explain this as follows:

**Adding items:-**

 • For addition of a single key-value pair: Dict[Key] = 'Value'.

In [21]:
my_dict = {}
my_dict["fruit"] = "apple"
print(my_dict)

{'fruit': 'apple'}

• To add multiple key-value pairs from another dictionary: use the update() method.

In [22]:
another_dict = {"vegetable": "carrot"}
my_dict.update(another_dict)
print(my_dict)

{'fruit': 'apple', 'vegetable': 'carrot'}

**Modifying items:-**

• It modifies an existing key by assigning a new value to it.In other words, assign to an existing key a new value to modify it.

In [23]:
my_dict["fruit"] = "banana"
print(my_dict)

{'fruit': 'banana', 'vegetable': 'carrot'}

**Deleting items:-**

• del keyword is used to delete an item according to the key.

In [24]:
del my_dict["fruit"]
print(my_dict)

{'vegetable': 'carrot'}

• Remove an item and get its value using the pop(key) method:

In [29]:
my_dict={"vegetable":"carrot"}
removed_item = my_dict.pop("vegetable")
print(removed_item)

carrot

In [30]:
print(my_dict)

{}

• Remove and return the last key-value pair using popitem():

In [32]:
my_dict={"vegetable":"carrot"}
last_item = my_dict.popitem()
print(last_item)

('vegetable', 'carrot')

**Important Notes:-**

1. del raises a KeyError if the key is not present.

2. pop takes the key as an argument and returns the value.

3. The popitem() method removes and returns the last dictionary key-value pair in the form of tuple.

There you have it. Now you can work with the content from your dictionaries in Python.

 Q.8 Discuss the importance of dictionary keys being immutable and provide examples.

 Ans.To understand why dictionary keys must be immutable. Let's make a relation with the hash table. The hash table implementation of dictionaries uses a hash value calculated from the key value to find the key. For suppose the key was a mutable object, its value could change and thus its hash could also change.

As above, since whoever changes the key object can't tell that it was being used as a dictionary key, it can't move the entry around in the dictionary. Then,

When you try and lookup up the same object in the dictionary it won't be found because its hash value is different.

If you were to look up the old value it would not be found either; for the value of the object found in that hash bin would not be the same. If you would like a dictionary indexed by a list, take the following steps− Convert the list to a tuple first The function tuple(myList) creates a tuple with the same entries as the list myList. Tuples are immutable and may therefore be used as dictionary keys.

**Convert list to tuple**

In [1]:
#Example
#To convert List to Tuple, use the tuple() −
# Creating a List
mylist = ["Prince", "Harry", "Mark", "Anthony"]
# Displaying the List
print("List = ",mylist)

List =  ['Prince', 'Harry', 'Mark', 'Anthony']

In [2]:
# Convert List to Tuple
res = tuple(mylist)
print("Tuple = ",res)

Tuple =  ('Prince', 'Harry', 'Mark', 'Anthony')

**Tuple as Keys**

In [3]:
#Example
#Now, we will see an example where first we convert list to tuple, then tuple is set as keys −
print("List = ",mylist)

List =  ['Prince', 'Harry', 'Mark', 'Anthony']

In [4]:
# Convert List to Tuple
res = tuple(mylist)
print("Tuple = ",res)

Tuple =  ('Prince', 'Harry', 'Mark', 'Anthony')

In [5]:
dct = {2:"num","demo":"string"}
print("Dictionary = ")

Dictionary =

In [6]:
print(dct)

{2: 'num', 'demo': 'string'}

In [7]:
# Overwrite existing value with a tuple
dct[2]=res
print("\nUpdated Dictionary (Tuple as Key)...")

Updated Dictionary (Tuple as Key)...

In [8]:
print(dct)

{2: ('Prince', 'Harry', 'Mark', 'Anthony'), 'demo': 'string'}